<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Server Pro - Register</title>
</head>

<body>
    <form action="#" method="POST">
        <input type="text" name="username" placeholder="Username" id="username"><br>
        <input type="password" name="password" placeholder="Password" id="password"><br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword"><br>
        <button type="submit">Register</button>
    </form>

</body>

</html>